html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
 
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #80c7fa;
}
  
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121616; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(133, 245, 85); 
  border-radius: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 96, 96); 
  width: 20px;
}
.posts {
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 20px;
    background-color: #addcfd;

    
    
    a {
        color: #4c4537;
        text-decoration: none;
        display: block;
        -webkit-text-decoration-skip: objects;
    }

    a:hover {
        color: #181511;
    }

    small {
        font-size: 90%;
    }

    h3 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-bottom: 0.5rem;
        font-family:'Bree Serif', serif;
        text-rendering: optimizeLegibility;
        font-size: 2.0rem;
      }

      p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        font-size: 0.9rem;
        margin-bottom: 1.45rem;
        font-family: 'Fredoka One', cursive;
      }
}