@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
  
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b0afb7; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3949; 
  border-radius: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce4767; 
  width: 20px;
}


.posts {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 3rem;
    border-radius: 5px;
    background-color: #fff;

    
    
    a {
        color: rgb(23, 131, 226);
        text-decoration: none;
        display: block;
        -webkit-text-decoration-skip: objects;
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.25s ease-in;
    }

    a:hover, :focus {
        color: #181511;
        transform: scale(1.02);
    }

    small {
        font-size: 70%;
    }

    h3 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-bottom: 0.5rem;
        font-family:'Bree Serif', serif;
        text-rendering: optimizeLegibility;
        font-size: 1.5rem;
        font-weight: bolder;
      }

      p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 1.45rem;
        font-family: 'Open Sans Condensed', cursive;
      }
}