.header {
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 1rem;
    text-decoration: none; 
    max-width: 750px;
}

.title {
    text-decoration: none;
    color: rgb(5, 149, 251);
    -webkit-text-decoration-skip: objects;
    font-size: 50px;
}