@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Alfa+Slab+One|Fredoka+One|Neucha&display=swap');

.header {
    text-decoration: none; 
    max-width: 750px;
    margin-left: 0;
    text-decoration: none;
    margin-right: 0;
    color: rgb(23, 131, 226);
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    margin-bottom: 4rem;
    font-family:'Alfa Slab One', serif;
    font-size: 3rem;

}

