
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
 
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d5e8fd;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
}